* { margin: 0; padding: 0; }


body{

    background:#f4f9f9;
    overflow: hidden; 
}

header {
    width: 100%;
    overflow: hidden;
    background: #694da0c5;
    margin-bottom: 20px;
}

.wrapper {
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

header .logo {
    color: #f2f2f2;
    font-size: 50px;
    font-family: "Nexa";
    line-height: 150px;
    float: left;
}

/* Formulario de cambio de contraseña */

section {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    margin: 0;
}

.password-container {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 600px;
    text-align: center;
}

h1 {
    margin-bottom: 30px;
}

.form-control {
    margin-bottom: 20px;
    border-radius: 5px;
}

.btn-primary {
    width: 200px;
    padding: 10px;
    border-radius: 50px;
    background-color: #694da0c5;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}


.btn-primary:hover
{
    background-color:#6c4cad;
    transition: 1s;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4); 
}

.btn-primary:active{
    background-color: #491ca3 !important;
    transform: scale(0.88);
    border: none;
    border-color: none;
}

.btn-primary:focus {
    box-shadow: none !important;
    outline: none !important;
}
