<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">

</head>
<body>
    <header class="header">
		<div class="wrapper">
			<div class="logo">ULACIT</div>
		</div>
	</header>
    
    <section>
        <div class="login-container">
            <h1>Iniciar Sesión</h1>
            <form method="POST" action="{{ url_for('login') }}">
                <input type="email" name="correo" placeholder="Correo" class="form-control" required>
                <input type="password" name="password" placeholder="Contraseña" class="form-control" required>
                <button type="submit" class="btn btn-primary">Entrar</button>
            </form>
    
            {% if error %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endif %}
        </div>
    </section>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
