<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script> 


</head>
<body>

    {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                {% for category, message in messages %}
                Swal.fire({
                    icon: "{% if category == 'danger' %}error{% elif category == 'success' %}success{% elif category == 'warning' %}warning{% elif category == 'info' %}info{% else %}info{% endif %}",
                    title: "{% if category == 'danger' %}Oops...{% elif category == 'success' %}¡Éxito!{% elif category == 'warning' %}Advertencia{% elif category == 'info' %}Información{% else %}Notificación{% endif %}",
                    text: "{{ message }}",
                    showConfirmButton: true
                });
                {% endfor %}
            });
        </script>
        {% endif %}
    {% endwith %}

    <section>
        <div class="login-container">
            <h1>Iniciar Sesión</h1>
            <form method="POST" action="{{ url_for('login') }}">
                <input type="email" name="correo" placeholder="Correo" class="form-control" required>
                <input type="password" name="password" placeholder="Contraseña" class="form-control" required>
                <button type="submit" class="btn btn-primary">Entrar</button>
            </form>
        </div>
    </section>



    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>



</body>
</html>
