<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar parqueo</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='register_parqueo.css') }}">

</head>
<body>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const inputs = ['Espacios_Carros', 'Espacios_Moto', 'Espacios_Ley7600'];
        
            inputs.forEach(id => {
                const input = document.getElementById(id);
        
                input.addEventListener('input', function() {
                    // Verificar si hay operadores matemáticos
                    const containsOperators = /[+\-*/]/.test(input.value);
        
                    if (containsOperators) {
                        Swal.fire({
                            icon: "error",
                            title: "Error",
                            text: "No se pueden ingresar operadores matemáticos.",
                            showConfirmButton: false,
                            timer: 1000  
        
                        input.value = input.value.replace(/[+\-*/]/g, '');
                        return; // Terminar aquí para evitar validaciones innecesarias
                    }
        
                    // Eliminar cualquier carácter que no sea numérico
                    let sanitizedValue = input.value.replace(/[^0-9]/g, '');
        
                    // Aseguramos que esté dentro del rango permitido
                    let value = parseInt(sanitizedValue || 0);
                    if (value < 1) value = 0;
                    if (value > 50) value = 50;
        
                    // Asigna el valor corregido al campo de entrada
                    input.value = value;
                    
                });
            });
        });
        
    </script>


    {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
        <script>
            document.addEventListener("DOMContentLoaded", function() {
                {% for category, message in messages %}
                    Swal.fire({
                        icon: "{{ 'error' if category == 'danger' else category }}",  // Cambia el ícono según la categoría
                        title: "{{ 'Oops...' if category == 'danger' else '¡Éxito!' }}",
                        text: "{{ message }}",
                        showConfirmButton: true,
                        timer: 5000  // Duración del mensaje
                    });
                {% endfor %}
            });
        </script>
        
        {% endif %}
    {% endwith %}

    <header class="header">
        <div class="wrapper">
            <div class="logo"></div>
        </div>
    </header>

    <section>
        <div class="container">
            <div class="register-container">
                <h1>Registrar Parqueo</h1>

                <!-- Formulario de registro -->
                <form method="POST" action="{{ url_for('register_parqueo') }}">
                    <div class="form-group">
                        <label for="nombre">Nombre parqueo</label>
                        <input type="text" class="form-control" id="Nombre_parqueo" name="Nombre_parqueo" placeholder="Nombre parqueo" required>
                    </div>
                    <div class="form-group">
                        <label for="correo">Ubicacion</label>
                        <input type="text" class="form-control" id="Ubicacion" name="Ubicacion" placeholder="Ubicacion" required>
                    </div>
                    <div class="form-group">
                        <label for="fecha_nacimiento">Cantidad de espacios de carro</label>
                        <input type="number" class="form-control" id="Espacios_Carros" name="Espacios_Carros" placeholder="Espacios carros" required min="1" max="50">
                    </div>
                    <div class="form-group">
                        <label for="identificacion">Cantidad de espacios de moto</label>
                        <input type="number" class="form-control" id="Espacios_Moto" name="Espacios_Moto" placeholder="Espacios moto" required  min="1" max="50">
                    </div>
                    <div class="form-group">
                        <label for="identificacion">Cantidad de espacios de ley 7600</label>
                        <input type="number" class="form-control" id="Espacios_Ley7600" name="Espacios_Ley7600" placeholder="Espacio Ley 7600" required  min="1" max="50">
                    </div>
                    <div class="btn-group">
                        <a href="{{ url_for('menu') }}" class="btn btn-secondary">Volver</a>
                        <button type="submit" class="btn btn-primary">Registrar</button>
                        
                    </div>
                </form>
            </div>
        </div>
    </section>
   

    <!-- Scripts de SweetAlert y jQuery -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
